{{ define "header" }}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VTrine</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Icons -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- TMDB and OMDB -->
    <script src="/static/js/tmdb/themoviedb.js"></script>
    <script src="/static/js/omdb/omdb.js"></script>
    <script>
        var tmdb = theMovieDb;
        tmdb.common.api_key = '{{env "TMDB_KEY"}}';

        var omdb = new OMDB('{{env "OMDB_KEY"}}');
    </script>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/data-loader.js"></script>
    <script src="/static/js/movie-data.js"></script>
    <script src="/static/js/create-elements.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="" href="/">
            <h1 class="navbar-brand">VTrine</h1>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/torrent/manage">Downloads</a>
                </li>
            </ul>
            <form class="form-inline" action="/search/name">
                <input name="q" class="form-control mr-lg-2 mb-2 mb-lg-0" type="search" placeholder="Search for content..."
                    aria-label="Search" value="{{ .query }}">
                <button class="btn btn-outline-success" type="submit">
                    <i class="zmdi zmdi-search"></i>
                </button>
            </form>
        </div>
    </nav>

    {{ end }}