{{ template "header" }}

<div class="container my-3">
    {{ if nonComplete .torrents }}
        <h3>Downloading</h3>
        <div class="container horizontal-container">
            {{ range nonComplete .torrents }}
                {{ template "movie-thumb" . }}
            {{ end }}
        </div>
    {{ end }}

    {{ if complete .torrents }}
        <h3>Finished</h3>
        <div class="container horizontal-container">
            {{ range complete .torrents }}
                {{ template "movie-thumb" . }}
            {{ end }}
        </div>
    {{ end }}

    <div class="container lifted rounded mt-4 py-2">
        {{ $usedPerct := (div .usedSpace (add .usedSpace .freeSpace)) }}

        <h4>Status</h4>

        <div class="container">
            <strong>Storage:</strong>
            {{ byte (f32toui64 .usedSpace) }} / {{ byte (f32toui64 (add .usedSpace .freeSpace)) }}
            <div class="progress mb-2">
                <div class="progress-bar" role="progressbar" style="width: {{ percent $usedPerct }}%; background-color: {{ mix "#28a745" "#dc3545" $usedPerct }};">
                    {{ percent $usedPerct }}%
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    loadBasic(document.querySelectorAll('.movie-data'))
    .then(applyData)
</script>

{{ template "footer" }}