{{ define "media-info" }}

<div class="movie-data container" data-imdb="{{ .imdb }}">
    <div class="row">
        <div class="col-12 col-md-4 text-center mb-4">
            <img class="movie-poster lifted rounded img-fluid">
        </div>
        <div class="col-12 col-md-8">
            <h1 class="movie-title"></h1>
            <span class="movie-screening text-muted"></span>
            <p class="movie-overview text-justify"></p>

            <div class="my-2">
                {{ template "trailer" .imdb }}
                <a class="btn btn-imdb" target="_blank" href="https://www.imdb.com/title/{{.imdb}}/">
                    IMDb <i class="zmdi zmdi-open-in-new"></i>
                </a>
            </div>

            {{ if .torrents }}
            <table class="table table-striped table-responsive px-2">
                <thead>
                    <tr>
                        <th scope="col">Information</th>
                        <th scope="col">Title</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .torrents }}
                    <tr>
                        <td>
                            <form class="inline" action="/torrent/download" method="POST">
                                <input type="hidden" name="data" value="{{ json . }}">
                                <button type="submit" class="btn btn-success badge">
                                    <i class="zmdi zmdi-download"></i>
                                </button>
                            </form>
                            <span class="badge py-1 badge-secondary">{{ byte .Size }}</span>
                        </td>
                        <td class="text-truncate">{{ .Title }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}