{{ define "media-info" }}

<div class="movie-data container" data-imdb="{{ .imdb }}">
    <div class="row">
        <div class="col-md-3 sticky-top rh-30 px-0 pt-3">
            <img class="movie-poster lifted rounded">
        </div>
        <div class="col-md-8 mx-3">
            <h1 class="movie-title"></h1>
            <span class="movie-screening text-muted"></span>
            <p class="movie-overview"></p>

            <div class="my-2">
                {{ template "trailer" .imdb }}
            </div>

            {{ if .torrents }}
            <table class="table">
                <thead>
                    <tr class="row">
                        <th scope="col" class="col-10">Title</th>
                        <th scope="col" class="col-2 text-right">Information</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .torrents }}
                    <tr class="row">
                        <td class="col-10 text-truncate">{{ .Title }}</td>
                        <td class="col-2 text-right">
                            <span class="badge badge-secondary">{{ byte .Size }}</span>
                            <form class="inline" action="/torrent/download" method="POST">
                                <input type="hidden" name="magnet" value="{{ .Magnet }}">
                                <input type="hidden" name="category" value="{{ .Type }}">
                                <button type="submit" class="btn btn-success badge">
                                    <i class="zmdi zmdi-download"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}