{{ define "movie-thumb" }}
<div class="col-sm-4 col-md-3 my-3 rh-30">
    <div class="movie-data rounded lifted h-100" data-imdb="{{ . }}">
        <a class="movie-link unlink">
            <div class="movie-poster h-80 rounded-top text-center">
                <div class="movie-no-poster pt-50 invisible">
                    <span class="h1">No Poster</span>
                </div>
            </div>
            <div class="pt-3 pb-1 px-3">
                <p class="movie-title h5 text-truncate"></p>
                <span class="movie-screening text-muted"></span>
            </div>
        </a>
    </div>
</div>
{{ end }}