{{ template "header" . }}

<!-- Model to be cloned by javascript -->
<template id="thumbnail-model">
    {{ template "movie-thumb" "" }}
</template>

<div class="container">
    <h2>Results for "{{ .query }}"</h2>
    <div class="row">
        <h3>Movies</h3>
    </div>
    <div class="container horizontal-container" id="movies-container">

    </div>
    <div class="row">
        <h3>TV Shows</h3>
    </div>
    <div class="container horizontal-container" id="shows-container">

    </div>
</div>

<script>
    var url = new URL(window.location.href);
    var search = url.searchParams.get('q');

    var model = document.querySelector('#thumbnail-model');
    var moviesContainer = document.getElementById('movies-container');
    var showsContainer = document.getElementById('shows-container');

    var movies = tmdb.search.getMovie(search);
    var shows = tmdb.search.getTv(search);

    movies = movies.then(async data => {
        var promises = [];

        for (var movie of data.results) {
            promises.push(new Promise(async resolve =>
                resolve(moviesContainer.appendChild(await createMovieTMDB(model.innerHTML, movie)))
            ));
        }

        return Promise.all(promises);
    });
    shows = shows.then(async data => {
        var promises = [];

        for (var show of data.results) {
            promises.push(new Promise(async resolve =>
                resolve(showsContainer.appendChild(await createShowTMDB(model.innerHTML, show)))
            ));
        }

        return Promise.all(promises);
    });

    Promise.all([movies, shows])
        .then(() => applyData(document.querySelectorAll('.movie-data')));
</script>
{{ template "footer" }}