{{ define "trailer" }}
{{ $uniqueId := cat "trailer-" rand }}
<button type="button" class="btn btn-youtube invisible movie-trailer-youtube-button" data-toggle="modal"
    data-target="#{{ $uniqueId }}-youtube">
    Trailer <i class="zmdi zmdi-youtube-play"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="{{ $uniqueId }}-youtube" tabindex="-1" role="dialog"
    aria-labelledby="{{ $uniqueId }}-label-youtube" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content vh-90">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ $uniqueId }}-label-youtube">Trailer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe width="100%" height="100%" src="" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                    id="{{ $uniqueId }}-youtube-iframe" class="movie-trailer-youtube-iframe"></iframe>
            </div>
        </div>
    </div>
</div>
<script>
    (() => {
        var modal = document.getElementById('{{ $uniqueId }}-youtube');
        var youtube = document.getElementById('{{ $uniqueId }}-youtube-iframe');

        $(modal).on('hide.bs.modal', () => youtube.src = youtube.src);
    })()
</script>
{{ end }}