.movie-poster {
    object-fit: cover;
}

.horizontal-container {
    overflow-x: auto;
    white-space: nowrap;
}
.horizontal-container>div {
    display: inline-block;
    float: none;
}

.bg-paused {
    background-color: #777 !important;
}

.lifted {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
}

.invisible {
    display: none;
}

.unlink, .unlink:hover, .unlink:visited {
    text-decoration: none;
    color: #212529;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.vhmin-90 {
    height: 90vmin;
}

.btn-youtube {
    color: #fff;
    background-color: #f00;
    border-color: #ff7f7f;
}

.btn-youtube:hover {
    color: #fff;
    background-color: #d00;
    border-color: #e06060;
}