.lifted {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.75);
}

.invisible {
    display: none;
}

.movie-poster {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.unlink, .unlink:hover, .unlink:visited {
    text-decoration: none;
    color: #212529;
}

.inline {
    display: inline;
}

.pt-50 {
    padding-top: 50%;
}

.rh-30 {
    height: 30rem;
}

.h-80 {
    height: 80%;
}

.vh-75 {
    height: 75vh;
}

.vh-90 {
    height: 90vh;
}

.btn-youtube {
    color: #fff;
    background-color: #f00;
    border-color: #ff7f7f;
}

.btn-youtube:hover {
    color: #fff;
    background-color: #d00;
    border-color: #e06060;
}